.image {
    margin-top: 20px ;
    display: flex;
    border-radius: 10px;
    gap: 25px;
}
.img{
    border: 1px solid black;
    border-radius: 10px;
}
.details{
    border: 1px solid black;
    background-color:aliceblue;
    font-size: 22px;     
    line-height: 1.6;    
    color:black;
    border-radius: 10px;
    padding: 10px;
}
.info{
    margin-top: 20px;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 10px;
}
.info-title{
    text-align: center;
    size: 25px;
}