
.header{
background-color:beige;
height: 100px;
width: 100%;
border: 1px solid black;
margin: 0;
padding: 0;
box-sizing: border-box;

}
.txt{
    /* background-color: black; */
    size: 20px;
    text-align: center;
    color: black;
}